@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-2fNNGr_iDLLO: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-2fNNGr_iDLLO);
  --token-j27MbYnmi-V7: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-j27MbYnmi-V7);
  --token-TLY63KjDkpCy: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-TLY63KjDkpCy);
  --token-PwX8_H6tJ0pT: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-PwX8_H6tJ0pT);
  --token-5f9gBYu7A1Sb: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-5f9gBYu7A1Sb);
  --token-TAK49GoJxQd-: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-TAK49GoJxQd-);
  --token-IO3yLxiBptKn: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-IO3yLxiBptKn);
  --token-Y9upCGMtU0__: 1.25rem;
  --plasmic-token-font-lg: var(--token-Y9upCGMtU0__);
  --token-RAo7Fe7ZxyzI: #ffffff;
  --plasmic-token-basic-container-background: var(--token-RAo7Fe7ZxyzI);
  --token-8rca452S3KFY: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token-8rca452S3KFY);
  --token-ix-LBv0xYuBc: Inter;
  --plasmic-token-sans-serif: var(--token-ix-LBv0xYuBc);
  --token-9_JGGvdPqxi8: 1rem;
  --plasmic-token-font-md: var(--token-9_JGGvdPqxi8);
  --token-r5_dz_CQBZZ2: 1.25;
  --plasmic-token-line-height-md: var(--token-r5_dz_CQBZZ2);
  --token-uw8WCVWZL65U: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-uw8WCVWZL65U);
  --token-UMn4PDDFcE2a: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-UMn4PDDFcE2a);
  --token-HyZar0eP8FlD: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-HyZar0eP8FlD);
  --token-bx2rN-bqThU_: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-bx2rN-bqThU_);
  --token-tVV7oxStskRP: 0.75rem;
  --plasmic-token-font-sm: var(--token-tVV7oxStskRP);
  --token-sdGc7ikfwYWH: 1;
  --plasmic-token-line-height-sm: var(--token-sdGc7ikfwYWH);
  --token-eaChxdjqo5ly: 1.4;
  --plasmic-token-line-height-lg: var(--token-eaChxdjqo5ly);
  --token-0qZngxA5xeM0: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-0qZngxA5xeM0);
  --token-KZop7QrcEYCS: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-KZop7QrcEYCS);
  --token-20kXoLMMSKkV: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-20kXoLMMSKkV);
  --token-zB15a0I-hXUe: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-zB15a0I-hXUe);
  --token-LwTTHGRMtYAe: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-LwTTHGRMtYAe);
  --token-ZofmO9MKhh-X: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-ZofmO9MKhh-X);
  --token-xmWYSIyeXxF-: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-xmWYSIyeXxF-);
  --token-VGAk-LU71JvN: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-VGAk-LU71JvN);
  --token-ckPdQPi1YUkx: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-ckPdQPi1YUkx);
  --token-qJ1qtXMCLOAN: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-qJ1qtXMCLOAN);
  --token-S9SfXoFkPKj7: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-S9SfXoFkPKj7);
  --token-bdMLUd4Imlgz: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-bdMLUd4Imlgz);
  --token-uI08cxehyeOY: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-uI08cxehyeOY);
  --token-kjTG6telFIDR: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-kjTG6telFIDR);
  --token-iJcCDphcAMvA: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-iJcCDphcAMvA);
  --token-OO5ETp2rkwwp: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-OO5ETp2rkwwp);
  --token-shS-B9OruR4h: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-shS-B9OruR4h);
  --token-G2CCqvRQcVA1: #00000033;
  --plasmic-token-interaction-pressed: var(--token-G2CCqvRQcVA1);
  --token-j6gBIaIGUj8O: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-j6gBIaIGUj8O);
  --token-1iEAi4dcvtU4: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-1iEAi4dcvtU4);
  --token-Tc-INolYa4ck: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-Tc-INolYa4ck);
  --token-ngvRF1m8CbqY: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-ngvRF1m8CbqY);
  --token-pYXzt4udz1Pf: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-pYXzt4udz1Pf);
  --token-vreaxrbdUfJg: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-vreaxrbdUfJg);
  --token-r8M6kIXRTJI1: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-r8M6kIXRTJI1);
  --token-H8jndZtWfgaU: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-H8jndZtWfgaU);
  --token-tUTu0Vwz7x4j: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-tUTu0Vwz7x4j);
  --token-7wuhGDN14W5G: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-7wuhGDN14W5G);
  --token-aI0WiLwuEDkN: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-aI0WiLwuEDkN);
  --token-jrNd57q-slpB: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-jrNd57q-slpB
  );
  --token-HsBTTTyUBFOc: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-HsBTTTyUBFOc);
  --token-YrqWv09F5P0L: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-YrqWv09F5P0L);
  --token-i7TqgJ7cct5J: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-i7TqgJ7cct5J);
  --token-AHtyRcPW7ecL: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-AHtyRcPW7ecL);
  --token-vjQdMXIgEodZ: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-vjQdMXIgEodZ);
  --token-m1szt-i3Zwpu: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-m1szt-i3Zwpu);
  --token-YFlDjI57MzqC: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-YFlDjI57MzqC);
  --token-tNmdsYyUNfwb: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-tNmdsYyUNfwb);
  --token-H87zRrjNV69F: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-H87zRrjNV69F);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-YMPLZkRQsghm_font-family: "Inter", sans-serif;
  --mixin-YMPLZkRQsghm_font-size: 14px;
  --mixin-YMPLZkRQsghm_font-weight: 400;
  --mixin-YMPLZkRQsghm_font-style: normal;
  --mixin-YMPLZkRQsghm_color: #535353;
  --mixin-YMPLZkRQsghm_text-align: left;
  --mixin-YMPLZkRQsghm_text-transform: none;
  --mixin-YMPLZkRQsghm_line-height: 1.5;
  --mixin-YMPLZkRQsghm_letter-spacing: normal;
  --mixin-YMPLZkRQsghm_white-space: pre-wrap;
  --mixin-YMPLZkRQsghm_user-select: text;
  --mixin-YMPLZkRQsghm_text-decoration-line: none;
  --mixin-YMPLZkRQsghm_text-overflow: clip;
  --mixin-yOivWlEYmdJq_color: #000000;
  --mixin-yOivWlEYmdJq_font-weight: 600;
  --mixin-yOivWlEYmdJq_font-size: 40px;
  --mixin-yOivWlEYmdJq_line-height: 1;
  --mixin-yOivWlEYmdJq_letter-spacing: -1px;
  --mixin-yOivWlEYmdJq_white-space: pre-wrap;
  --mixin-Xd3ngYbtHgxR_color: #000000;
  --mixin-Xd3ngYbtHgxR_font-size: 30px;
  --mixin-Xd3ngYbtHgxR_font-weight: 600;
  --mixin-Xd3ngYbtHgxR_line-height: 1.1;
  --mixin-Xd3ngYbtHgxR_white-space: pre-wrap;
  --mixin-OZ7RgLMJVAf0_color: #0070f3;
  --mixin-OZ7RgLMJVAf0_white-space: pre-wrap;
  --mixin-daTIwVkOl0d5_color: #000000;
  --mixin-daTIwVkOl0d5_font-size: 24px;
  --mixin-daTIwVkOl0d5_font-weight: 600;
  --mixin-daTIwVkOl0d5_line-height: 1.2;
  --mixin-daTIwVkOl0d5_white-space: pre-wrap;
  --mixin-kmwjm4KObK9W_color: #000000;
  --mixin-kmwjm4KObK9W_font-size: 20px;
  --mixin-kmwjm4KObK9W_font-weight: 600;
  --mixin-kmwjm4KObK9W_line-height: 1.3;
  --mixin-kmwjm4KObK9W_white-space: pre-wrap;
  --mixin-3P3Lh05pICpk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3P3Lh05pICpk_border-bottom-color: #dddddd;
  --mixin-3P3Lh05pICpk_border-bottom-style: solid;
  --mixin-3P3Lh05pICpk_border-bottom-width: 1px;
  --mixin-3P3Lh05pICpk_border-left-color: #dddddd;
  --mixin-3P3Lh05pICpk_border-left-style: solid;
  --mixin-3P3Lh05pICpk_border-left-width: 1px;
  --mixin-3P3Lh05pICpk_border-right-color: #dddddd;
  --mixin-3P3Lh05pICpk_border-right-style: solid;
  --mixin-3P3Lh05pICpk_border-right-width: 1px;
  --mixin-3P3Lh05pICpk_border-top-color: #dddddd;
  --mixin-3P3Lh05pICpk_border-top-style: solid;
  --mixin-3P3Lh05pICpk_border-top-width: 1px;
  --mixin-3P3Lh05pICpk_border-bottom-left-radius: 3px;
  --mixin-3P3Lh05pICpk_border-bottom-right-radius: 3px;
  --mixin-3P3Lh05pICpk_border-top-left-radius: 3px;
  --mixin-3P3Lh05pICpk_border-top-right-radius: 3px;
  --mixin-3P3Lh05pICpk_font-family: "Inconsolata";
  --mixin-3P3Lh05pICpk_padding-bottom: 1px;
  --mixin-3P3Lh05pICpk_padding-left: 4px;
  --mixin-3P3Lh05pICpk_padding-right: 4px;
  --mixin-3P3Lh05pICpk_padding-top: 1px;
  --mixin-3P3Lh05pICpk_white-space: pre-wrap;
  --mixin-BR3O7Ch5zQMy_border-left-color: #dddddd;
  --mixin-BR3O7Ch5zQMy_border-left-style: solid;
  --mixin-BR3O7Ch5zQMy_border-left-width: 3px;
  --mixin-BR3O7Ch5zQMy_color: #888888;
  --mixin-BR3O7Ch5zQMy_padding-left: 10px;
  --mixin-BR3O7Ch5zQMy_white-space: pre-wrap;
  --mixin-dAj6Bb_D9EqR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-dAj6Bb_D9EqR_border-bottom-color: #dddddd;
  --mixin-dAj6Bb_D9EqR_border-bottom-style: solid;
  --mixin-dAj6Bb_D9EqR_border-bottom-width: 1px;
  --mixin-dAj6Bb_D9EqR_border-left-color: #dddddd;
  --mixin-dAj6Bb_D9EqR_border-left-style: solid;
  --mixin-dAj6Bb_D9EqR_border-left-width: 1px;
  --mixin-dAj6Bb_D9EqR_border-right-color: #dddddd;
  --mixin-dAj6Bb_D9EqR_border-right-style: solid;
  --mixin-dAj6Bb_D9EqR_border-right-width: 1px;
  --mixin-dAj6Bb_D9EqR_border-top-color: #dddddd;
  --mixin-dAj6Bb_D9EqR_border-top-style: solid;
  --mixin-dAj6Bb_D9EqR_border-top-width: 1px;
  --mixin-dAj6Bb_D9EqR_border-bottom-left-radius: 3px;
  --mixin-dAj6Bb_D9EqR_border-bottom-right-radius: 3px;
  --mixin-dAj6Bb_D9EqR_border-top-left-radius: 3px;
  --mixin-dAj6Bb_D9EqR_border-top-right-radius: 3px;
  --mixin-dAj6Bb_D9EqR_font-family: "Inconsolata";
  --mixin-dAj6Bb_D9EqR_padding-bottom: 3px;
  --mixin-dAj6Bb_D9EqR_padding-left: 6px;
  --mixin-dAj6Bb_D9EqR_padding-right: 6px;
  --mixin-dAj6Bb_D9EqR_padding-top: 3px;
  --mixin-dAj6Bb_D9EqR_white-space: pre-wrap;
  --mixin-ChVj_Nj7E-5C_display: flex;
  --mixin-ChVj_Nj7E-5C_flex-direction: column;
  --mixin-ChVj_Nj7E-5C_align-items: stretch;
  --mixin-ChVj_Nj7E-5C_justify-content: flex-start;
  --mixin-ChVj_Nj7E-5C_list-style-position: outside;
  --mixin-ChVj_Nj7E-5C_padding-left: 40px;
  --mixin-ChVj_Nj7E-5C_position: relative;
  --mixin-ChVj_Nj7E-5C_list-style-type: disc;
  --mixin-ChVj_Nj7E-5C_white-space: pre-wrap;
  --mixin-KBfQlKkX8UVL_display: flex;
  --mixin-KBfQlKkX8UVL_flex-direction: column;
  --mixin-KBfQlKkX8UVL_align-items: stretch;
  --mixin-KBfQlKkX8UVL_justify-content: flex-start;
  --mixin-KBfQlKkX8UVL_list-style-position: outside;
  --mixin-KBfQlKkX8UVL_padding-left: 40px;
  --mixin-KBfQlKkX8UVL_position: relative;
  --mixin-KBfQlKkX8UVL_list-style-type: decimal;
  --mixin-KBfQlKkX8UVL_white-space: pre-wrap;
  --mixin-JAPMFdKkPV0o_color: #000000;
  --mixin-JAPMFdKkPV0o_font-size: 16px;
  --mixin-JAPMFdKkPV0o_font-weight: 600;
  --mixin-JAPMFdKkPV0o_line-height: 1.5;
  --mixin-JAPMFdKkPV0o_white-space: pre-wrap;
  --mixin-y2vlhI2GMZM2_color: #000000;
  --mixin-y2vlhI2GMZM2_font-size: 14px;
  --mixin-y2vlhI2GMZM2_font-weight: 600;
  --mixin-y2vlhI2GMZM2_line-height: 1.5;
  --mixin-y2vlhI2GMZM2_white-space: pre-wrap;
  --mixin-KiPJGUrJ6Ayu_color: #3291ff;
  --mixin-KiPJGUrJ6Ayu_white-space: pre-wrap;
  --mixin-pPVNwSVF3bUf_white-space: pre-wrap;
  --mixin-QG7iFKVlMuTQ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-YMPLZkRQsghm_font-family);
  font-size: var(--mixin-YMPLZkRQsghm_font-size);
  font-weight: var(--mixin-YMPLZkRQsghm_font-weight);
  font-style: var(--mixin-YMPLZkRQsghm_font-style);
  color: var(--mixin-YMPLZkRQsghm_color);
  text-align: var(--mixin-YMPLZkRQsghm_text-align);
  text-transform: var(--mixin-YMPLZkRQsghm_text-transform);
  line-height: var(--mixin-YMPLZkRQsghm_line-height);
  letter-spacing: var(--mixin-YMPLZkRQsghm_letter-spacing);
  white-space: var(--mixin-YMPLZkRQsghm_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-yOivWlEYmdJq_color);
  font-weight: var(--mixin-yOivWlEYmdJq_font-weight);
  font-size: var(--mixin-yOivWlEYmdJq_font-size);
  line-height: var(--mixin-yOivWlEYmdJq_line-height);
  letter-spacing: var(--mixin-yOivWlEYmdJq_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Xd3ngYbtHgxR_color);
  font-size: var(--mixin-Xd3ngYbtHgxR_font-size);
  font-weight: var(--mixin-Xd3ngYbtHgxR_font-weight);
  line-height: var(--mixin-Xd3ngYbtHgxR_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-OZ7RgLMJVAf0_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-daTIwVkOl0d5_color);
  font-size: var(--mixin-daTIwVkOl0d5_font-size);
  font-weight: var(--mixin-daTIwVkOl0d5_font-weight);
  line-height: var(--mixin-daTIwVkOl0d5_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-kmwjm4KObK9W_color);
  font-size: var(--mixin-kmwjm4KObK9W_font-size);
  font-weight: var(--mixin-kmwjm4KObK9W_font-weight);
  line-height: var(--mixin-kmwjm4KObK9W_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-3P3Lh05pICpk_font-family);
  border-radius: var(--mixin-3P3Lh05pICpk_border-top-left-radius)
    var(--mixin-3P3Lh05pICpk_border-top-right-radius)
    var(--mixin-3P3Lh05pICpk_border-bottom-right-radius)
    var(--mixin-3P3Lh05pICpk_border-bottom-left-radius);
  padding: var(--mixin-3P3Lh05pICpk_padding-top)
    var(--mixin-3P3Lh05pICpk_padding-right)
    var(--mixin-3P3Lh05pICpk_padding-bottom)
    var(--mixin-3P3Lh05pICpk_padding-left);
  border-top: var(--mixin-3P3Lh05pICpk_border-top-width)
    var(--mixin-3P3Lh05pICpk_border-top-style)
    var(--mixin-3P3Lh05pICpk_border-top-color);
  border-right: var(--mixin-3P3Lh05pICpk_border-right-width)
    var(--mixin-3P3Lh05pICpk_border-right-style)
    var(--mixin-3P3Lh05pICpk_border-right-color);
  border-bottom: var(--mixin-3P3Lh05pICpk_border-bottom-width)
    var(--mixin-3P3Lh05pICpk_border-bottom-style)
    var(--mixin-3P3Lh05pICpk_border-bottom-color);
  border-left: var(--mixin-3P3Lh05pICpk_border-left-width)
    var(--mixin-3P3Lh05pICpk_border-left-style)
    var(--mixin-3P3Lh05pICpk_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-BR3O7Ch5zQMy_color);
  padding-left: var(--mixin-BR3O7Ch5zQMy_padding-left);
  border-left: var(--mixin-BR3O7Ch5zQMy_border-left-width)
    var(--mixin-BR3O7Ch5zQMy_border-left-style)
    var(--mixin-BR3O7Ch5zQMy_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-dAj6Bb_D9EqR_font-family);
  border-radius: var(--mixin-dAj6Bb_D9EqR_border-top-left-radius)
    var(--mixin-dAj6Bb_D9EqR_border-top-right-radius)
    var(--mixin-dAj6Bb_D9EqR_border-bottom-right-radius)
    var(--mixin-dAj6Bb_D9EqR_border-bottom-left-radius);
  padding: var(--mixin-dAj6Bb_D9EqR_padding-top)
    var(--mixin-dAj6Bb_D9EqR_padding-right)
    var(--mixin-dAj6Bb_D9EqR_padding-bottom)
    var(--mixin-dAj6Bb_D9EqR_padding-left);
  border-top: var(--mixin-dAj6Bb_D9EqR_border-top-width)
    var(--mixin-dAj6Bb_D9EqR_border-top-style)
    var(--mixin-dAj6Bb_D9EqR_border-top-color);
  border-right: var(--mixin-dAj6Bb_D9EqR_border-right-width)
    var(--mixin-dAj6Bb_D9EqR_border-right-style)
    var(--mixin-dAj6Bb_D9EqR_border-right-color);
  border-bottom: var(--mixin-dAj6Bb_D9EqR_border-bottom-width)
    var(--mixin-dAj6Bb_D9EqR_border-bottom-style)
    var(--mixin-dAj6Bb_D9EqR_border-bottom-color);
  border-left: var(--mixin-dAj6Bb_D9EqR_border-left-width)
    var(--mixin-dAj6Bb_D9EqR_border-left-style)
    var(--mixin-dAj6Bb_D9EqR_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ChVj_Nj7E-5C_display);
  flex-direction: var(--mixin-ChVj_Nj7E-5C_flex-direction);
  align-items: var(--mixin-ChVj_Nj7E-5C_align-items);
  justify-content: var(--mixin-ChVj_Nj7E-5C_justify-content);
  list-style-position: var(--mixin-ChVj_Nj7E-5C_list-style-position);
  padding-left: var(--mixin-ChVj_Nj7E-5C_padding-left);
  position: var(--mixin-ChVj_Nj7E-5C_position);
  list-style-type: var(--mixin-ChVj_Nj7E-5C_list-style-type);
  flex-column-gap: var(--mixin-ChVj_Nj7E-5C_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-KBfQlKkX8UVL_display);
  flex-direction: var(--mixin-KBfQlKkX8UVL_flex-direction);
  align-items: var(--mixin-KBfQlKkX8UVL_align-items);
  justify-content: var(--mixin-KBfQlKkX8UVL_justify-content);
  list-style-position: var(--mixin-KBfQlKkX8UVL_list-style-position);
  padding-left: var(--mixin-KBfQlKkX8UVL_padding-left);
  position: var(--mixin-KBfQlKkX8UVL_position);
  list-style-type: var(--mixin-KBfQlKkX8UVL_list-style-type);
  flex-column-gap: var(--mixin-KBfQlKkX8UVL_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-JAPMFdKkPV0o_color);
  font-size: var(--mixin-JAPMFdKkPV0o_font-size);
  font-weight: var(--mixin-JAPMFdKkPV0o_font-weight);
  line-height: var(--mixin-JAPMFdKkPV0o_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-y2vlhI2GMZM2_color);
  font-size: var(--mixin-y2vlhI2GMZM2_font-size);
  font-weight: var(--mixin-y2vlhI2GMZM2_font-weight);
  line-height: var(--mixin-y2vlhI2GMZM2_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-KiPJGUrJ6Ayu_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
