.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__bDyyQ {
  position: relative;
  height: 1em;
}
.svg__uSsEm {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-RAo7Fe7ZxyzI);
  display: block;
  color: var(--token-YrqWv09F5P0L);
  font-family: var(--token-ix-LBv0xYuBc);
  font-size: var(--token-9_JGGvdPqxi8);
  line-height: var(--token-r5_dz_CQBZZ2);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-j27MbYnmi-V7);
}
.pcls_DHwloL1_hvqY {
  background: var(--token-tNmdsYyUNfwb);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3___2MUo9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-Y9upCGMtU0__);
  min-width: 0;
  padding: var(--token-IO3yLxiBptKn);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-IO3yLxiBptKn);
  padding-right: var(--token-IO3yLxiBptKn);
}
.freeBox___867WH {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___867WH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-TAK49GoJxQd-));
  height: calc(100% + var(--token-TAK49GoJxQd-));
}
.freeBox___867WH > :global(.__wab_flex-container) > *,
.freeBox___867WH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___867WH > :global(.__wab_flex-container) > picture > img,
.freeBox___867WH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-TAK49GoJxQd-);
}
.text__xWSj {
  position: relative;
}
.freeBox__fwOOw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-IO3yLxiBptKn);
}
.svg__dk1M3 {
  position: relative;
  height: 1em;
}
.text__dGvVu {
  padding-left: 0px;
}
.svg__h75Zw {
  position: relative;
  height: 1em;
}
