.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-YrqWv09F5P0L);
  font-family: var(--token-ix-LBv0xYuBc);
  font-size: var(--token-9_JGGvdPqxi8);
  line-height: var(--token-r5_dz_CQBZZ2);
  width: 100%;
  row-gap: var(--token-TAK49GoJxQd-);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__s9KIs {
  display: flex;
  flex-direction: row;
}
.freeBox__s9KIs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-TLY63KjDkpCy));
  width: calc(100% + var(--token-TLY63KjDkpCy));
}
.freeBox__s9KIs > :global(.__wab_flex-container) > *,
.freeBox__s9KIs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s9KIs > :global(.__wab_flex-container) > picture > img,
.freeBox__s9KIs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-TLY63KjDkpCy);
}
.text__bd9Iz {
  position: relative;
}
.freeBox__x2O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-uw8WCVWZL65U);
  padding-bottom: var(--token-uw8WCVWZL65U);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-YFlDjI57MzqC);
  height: var(--token-TLY63KjDkpCy);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-TLY63KjDkpCy);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb___33EeH:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-5f9gBYu7A1Sb);
}
.foreground {
  display: block;
  background: var(--token-8rca452S3KFY);
  height: var(--token-TLY63KjDkpCy);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
